body{
margin: 0;
background: #2F2E41;


min-height: 80vh;



}

.page{

  margin: 70px auto 0px;
  width: 1090px;
  
}

main{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;


}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;


  margin-bottom: 70px;

}




ul{
  display: flex;
  list-style: none;
  gap: 64px;
  margin: 0;
  padding: 0;


}


h1 span{
  font-family: 'JetBrains Mono', monospace;
  color: #00BFA6;



}


h1{

  font-family: 'JetBrains Mono', monospace;
  color: white;
  font-size: 36px;
  line-height: 40px;

}

a {
  color: white;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
}

.pad{

  position: absolute;
  width: 51px;
  height: 62px;
  left: 140px;
  top: 688px;
}


p{
   
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 16px;
 text-align: center;
 line-height: 28px;

}

p span{
  color: #00BFA6;
}
footer{
  position: absolute;
  width: 462px;
  height: 28px;
  left: 607px;
  top: 669px;
  
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
color: white;
}


#line{

  position: absolute;
width: 568px;
height: 0px;
left: 556px;
top: 690px;

border: 1px solid #00BFA6;
}